{% block title %}Home{% endblock %}
{% block content %}
	<div class="starter-template">
		<h1>Hello, world 3!</h1>
		{{ 5 | lorem_ipsum:'p' }}
		<p>You are using the Mixture + Bootstrap (v3.1.0) boilerplate.</p>
		<p><a class="btn btn-primary btn-large" href="http://twitter.github.com/bootstrap/">Read the Bootstrap documentation &raquo;</a></p>
		<p><a class="btn btn-primary btn-large" href="http://docs.mixture.io">Read the Mixture documentation &raquo;</a></p>
	</div>
{% endblock %}